.about-container {
  background: #f2f7ff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  padding: 7rem;
  flex-direction: row;
}
.about-heading h1 {
  font-family: "Playfair Display", serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 63.98px;
}

.about-heading p {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0.5px;
  color: #8b8c8c;
}

.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
.card-content {
  background: #ffffff;
  border-radius: 10px;
  padding: 10px;
}

.card-content p {
  font-family: "Plus Jakarta Sans", serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.06px;
}
.cards p {
  color: #8b8c8c;
  line-height: 20px;
}
